{% extends 'base.html.twig' %}

{% block title %}FRProducts index{% endblock %}

{% block body %}
    <h1>FRProducts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Products_reference</th>
                <th>Products_Details</th>
                <th>Products_PurchasePrice</th>
                <th>Products_SalePrice</th>
                <th>Products_Picture</th>
                <th>Products_Stock</th>
                <th>Products_Visible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productsReference }}</td>
                <td>{{ product.productsDetails }}</td>
                <td>{{ product.productsPurchasePrice }}</td>
                <td>{{ product.productsSalePrice }}</td>
                <td>{{ product.productsPicture }}</td>
                <td>{{ product.productsStock }}</td>
                <td>{{ product.productsVisible }}</td>
                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('products_new') }}">Create new</a>
{% endblock %}
